
= stylesheet_link_tag "application"
= javascript_include_tag "application"


%div{:data => { :role => 'page'}}
  %div{:data => { :role => 'header'}}
    %h1 Ros Walker
  %div{:data => { :role => 'content'}}
    %form
      %div{:class => "ui-grid-a"}
        %div{:class => 'ui-block-a'}
          %label{:for => 'textinput-s'} Insert IP Address:
          %input{:type => 'text', :name => 'textinput-s', :id => 'textinput-s', :placeholder => @local_ip, :value => @local_ip, :data => {:clear => {:btn => 'true'}}}
        %div{:class => 'ui-block-b'}
          %label{:for => "flip-10"} Connect:
          %select{:name => "flip-10", :id => "flip-10", :data => {:role => "slider"}}
            %option{:value => "off"} Off
            %option{:value => "on"} On
    %div{:class => 'button_container'}
      %div{:class => 'button_grid_forward'}
        %a{:href => "#",  :id => "forward_btn", :data => {:role => "button", :icon => "arrow-u", :iconpos => "top", :inline => "true"}} Forward
      %div{:class => 'button_grid_strafe'} 
        %a{:href => "#",  :id => "left_btn", :data => {:role => "button", :icon => "arrow-l", :iconpos => "left", :inline => "true"}} Left
        %a{:href => "#",  :id => "right_btn", :data => {:role => "button", :icon => "arrow-r", :iconpos => "right", :inline => "true"}} Right
      %div{:class => 'button_grid_backward'}
        %a{:href => "#",  :id => "backward_btn", :data => {:role => "button", :icon => "arrow-d", :iconpos => "bottom", :inline => "true"}} Backward
      %div{:class => 'button_grid_stop'}
        %a{:href => "#",  :id => "stop_btn", :data => {:role => "button", :icon => "gear", :inline => "true"}} Stop
    %div{:class => "ui-grid-a"}
      %div{:class => 'ui-block-a'}
        %input{:type => 'text', :name => 'textinput-s', :id => 'message_input', :data => {:clear => {:btn => 'true'}}}
      %div{:class => 'ui-block-b'}
        %a{:href => "#",  :id => "send_message_btn", :data => {:role => "button", :icon => "gear", :inline => "true"}} Send 
    %div{:id =>'body_pose_goals'}
      %a{:href => "#",  :id => "stand_btn", :data => {:role => "button", :inline => "true"}} Stand 
      %a{:href => "#",  :id => "stand_init_btn", :data => {:role => "button", :inline => "true"}} Stand Init
      %a{:href => "#",  :id => "stand_zero_btn", :data => {:role => "button", :inline => "true"}} Stand Zero   

      %a{:href => "#",  :id => "crouch_btn", :data => {:role => "button", :inline => "true"}} Crouch

      %a{:href => "#",  :id => "sit_relax_btn", :data => {:role => "button", :inline => "true"}} Sit Relax 
      %a{:href => "#",  :id => "sit_btn", :data => {:role => "button", :inline => "true"}} Sit

      %a{:href => "#",  :id => "lying_belly_btn", :data => {:role => "button", :inline => "true"}} Lying Belly
      %a{:href => "#",  :id => "lying_back_btn", :data => {:role => "button", :inline => "true"}} Lying Back

      %label{:for => 'textinput-s'} Posture Speed:
      %input{:type => 'text', :name => 'textinput-s', :id => 'posture_speed-s', :placeholder => "0.7", :value => "0.7", :data => {:clear => {:btn => 'true'}}}
    %div{:class => 'jpeg_stream_viewer', :id =>'mjpeg'}
      %h2 Camera Top View
  %div{:data => { :role => 'footer'}}
    %h1{:class => 'lol'} 1.0.0